@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
:root {
  --index: calc(1vw + 1vh);
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1012px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1199.98px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0 15px;
  }
}
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 18px 0;
  z-index: 100;
  border-bottom: 1px solid #dedcdc;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.header__container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #95c8d8;
}
.header__logo {
  font-weight: 700;
  font-size: 30px;
  color: #4d4c4c;
  position: relative;
  z-index: 2;
}

.menu {
  position: relative;
  z-index: 2;
}
.menu.--sroll-down .menu__link::after {
  content: "";
  left: 0;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
}
@media (min-width: 991.98px) {
  .menu.--sroll-down .menu__link._active::after {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.menu.--sroll-up .menu__link::after {
  content: "";
  right: 0;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}
@media (min-width: 991.98px) {
  .menu.--sroll-up .menu__link._active::after {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@media (max-width: 991.98px) {
  .menu {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    background: #f2f0f0;
    z-index: -1;
    overflow: auto;
    padding: 130px 15px 40px;
  }
  .menu._active {
    left: 0;
  }
}
@media (min-width:767.98px) and (max-width: 991.98px){
  .menu {
    min-width: 300px;
  }	
}
@media (max-width: 767.98px) {
  .menu {
    width: 100%;
  }
}
@media (min-width: 991.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    padding: 0;
  }
}
.menu__item {
  position:relative;
}
.menu__item:hover .menu__submenu-list {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  visibility: visible;
  opacity: 1;
}
.menu__link {
  color: #000000;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
  display: block;
  padding-bottom: 5px;
}
.menu__link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  top: calc(100% - 5px);
  background: #000000;
  -webkit-transition: width 0s ease 0.4s, -webkit-transform 0.2s ease 0.25s;
  transition: width 0s ease 0.4s, -webkit-transform 0.2s ease 0.25s;
  transition: transform 0.2s ease 0.25s, width 0s ease 0.4s;
  transition: transform 0.2s ease 0.25s, width 0s ease 0.4s, -webkit-transform 0.2s ease 0.25s;
}
@media (max-width: 991.98px) {
  .menu__link {
    font-size: 30px;
  }
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #000000;
  }
}
@media (min-width: 991.98px) {
  .menu__link._active::after {
    -webkit-transition: width 0.2s ease 0.1s, -webkit-transform 0s ease 0s;
    transition: width 0.2s ease 0.1s, -webkit-transform 0s ease 0s;
    transition: width 0.2s ease 0.1s, transform 0s ease 0s;
    transition: width 0.2s ease 0.1s, transform 0s ease 0s, -webkit-transform 0s ease 0s;
    width: 100%;
  }
}
@media (min-width: 991.98px) {
  .menu__submenu-list {
    position: absolute;
    top: 100%;
    left: -20px;
    background: #f2f0f0;
    min-width: 150px;
    border: 1px solid #787878;
    padding-top: 15px;
    -webkit-transform: translate3d(0px, 20px, 0px);
            transform: translate3d(0px, 20px, 0px);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
.menu__submenu-link {
  display: block;
  width: 100%;
  padding: 5px 20px 20px;
  color: #787878;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
.menu__submenu-link:hover {
  color: #000000;
}
@media (max-width: 991.98px) {
  .menu__submenu-link {
    font-size: 25px;
    padding: 0;
    margin: 5px 20px 20px 20px;
    width: unset;
  }
  .menu__submenu-link:first-child {
    margin-top: 20px;
  }
}

@media (max-width: 991.98px) {
  .--main-page .burger {
    margin-left: auto;
    margin: 0 0px 0 auto;
    width: 25px;
    height: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    z-index: 2;
    background: none;
    cursor: pointer;
  }
}
.burger {
    display: none;
}
.burger__line {
  background: #000000;
  height: 2px;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}
.burger._active .burger__line-1 {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 5px;
}
.burger._active .burger__line-2 {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.burger._active .burger__line-3 {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 8px;
}

.page {
  padding-top: 100px;
}
.page__main-title {
  font-size: 30px;
  font-weight: 700;
  position: relative;
  border-bottom: 1px solid #eaecef;
  padding-bottom: 10px;
  margin-bottom: 16px;
}
@media (max-width: 1012px) {
  .page__main-title {
    font-size: calc(25px + 5 * (100vw - 320px) / 692);
  }
}
.page__main-title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.section{
  overflow: auto;
}

.section__title {
  font-size: 25px;
   font-weight: 700;
  color: #6740d4;
}
.section__subsection-title {
  font-size: 22px;
  color: #6740d4;
}
.section__table {
  overflow: auto;
  padding-bottom: 10px;
}
.section__table table {
  border-collapse: collapse;
}
.section__table th,
.section__table td {
  padding: 6px 13px;
  border: 1px solid #6740d4;
}
.section__table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
.section__table tr:nth-child(2n) {
  background-color: #f2f0f0;
}

.section__image img {
  max-width: 100%;
}

.footer {
  font-size: 13px;
  color: #787878;
  margin-top: 60px;
  text-align: center;
}
.footer__container {
  padding: 40px 15px;
  border-top: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media (max-width: 767.98px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 15px;
  }
}
.footer__copy {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.menu-footer {
     display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu-footer__link {
  color: #787878;
}
@media (any-hover: hover) {
  .menu-footer__link:hover {
    text-decoration: underline;
  }
}
.menu-footer__link img {
  max-width: 28px;
  max-height: 28px;
}
.menu-footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
